/*
 * Funnelback: Faceted Navigation UI support
 * version: 1.0.0
 *
 * author: nguillaumin
 * Copyright Funnelback
 */
.flb-panel .panel-heading, .flb-panel .list-group-item {padding: 7px 10px;}
.flb-panel .panel-heading .btn-sm {padding: 0 5px; border: none;}
.flb-panel .panel-toggle {color: #333;}
.flb-panel .panel-toggle:before {content: '\e114'; font-family: 'Glyphicons Halflings';}
.flb-panel .panel-toggle.collapsed:before {content: '\e080';}
.flb-panel .list-group-item:not(.collapse-trigger):after {clear: both; content: ""; display: table;}
.flb-panel .list-group-item.disabled {background-color: #fff; color: #999;}
.flb-panel .list-group-item.selected-single_drill_down {color: #337ab7;}
.flb-panel .collapse-trigger {font-size: 90%;}
.flb-panel .collapse-trigger:after {content: ' Less';}
.flb-panel .collapse-trigger:before {content: '\2212'; font-family: 'Glyphicons Halflings';}
.flb-panel .collapse-trigger.collapsed:after {content: ' More'}
.flb-panel .collapse-trigger.collapsed:before {content: '\002b';}
.flb-panel .radio-unchecked {border: 2px #555 solid; border-radius: 50%; display: inline-block; width: 13px; height: 13px; -moz-osx-font-smoothing: grayscale;}
#search-facets-breadcrumb {color: #777; font-size: 12px;}
#search-facets-breadcrumb .facets-breadcrumb-label {margin-right: 5px;}
#search-facets-breadcrumb .facets-applied {background-color: #f0f0f0; border: 1px solid #eee; font-size: x-small; display: inline-block; padding: 2px 4px 2px 0px;}
#search-facets-breadcrumb .facets-applied:not(:last-child) {margin-right: 5px; margin-bottom: 2px;}
#search-facets-breadcrumb .facets-applied > li {padding: 0;}
#search-facets-breadcrumb .btn-default {background-color: #ccc; color: #fefefe; border-color: #bbb;}
#search-facets-breadcrumb .btn-default:hover {background-color: #bbb; border-color: #aaa;}
